#header1-0 .btn {
  font-size: 20px;
}
#header1-0 H1 {
  font-size: 36px;
}
#msg-box4-9 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-9 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-9 .mbr-article {
  color: #ffffff;
}
#msg-box4-9 .mbr-article P {
  font-size: 20px;
}
#header3-a H3 {
  text-align: center;
}
#features1-2 .mbr-section__col .mbr-header__text {
  font-size: 20px;
}
#header3-7 H3 {
  text-align: center;
}
#features1-6 .mbr-section__col .mbr-header__text {
  font-size: 20px;
}
#msg-box2-b .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-b .mbr-article {
  color: #252525;
}
#ext_menu-d .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-d.mbr-navbar--stuck .mbr-navbar__section {
  background: #cccccc;
}
#ext_menu-d .mbr-navbar__section {
  background: #cccccc;
}
#ext_menu-d .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-d .mbr-navbar__items a {
  font-size: 14px;
}
#content4-j P {
  color: #000000;
}
