@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700&subset=latin,vietnamese,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);


#menu-m .navbar-toggler {
  color: #fbfbfb;
}
#menu-m .nav-link {
  font-size: 25px;
}
#menu-m .nav-item .btn {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 14px;
}
#menu-m .navbar-brand {
  font-size: 30px;
}
#header1-0 H1 {
  color: #ffffff;
}
#header1-0 P {
  color: #ffffff;
  font-size: 25px;
}
#msg-box4-5 .mbr-section-title I {
  text-align: center;
}
#msg-box4-5 small {
  font-size: 20px;
}
#msg-box4-x small {
  text-align: left;
  font-size: 20px;
}
#msg-box4-7 small {
  font-size: 20px;
}
#msg-box2-o H2 {
  font-family: 'Playfair Display', sans-serif;
}
#header3-u H3 {
  text-align: center;
}
#features1-e H4 {
  text-align: right;
}
#form1-9 .mbr-section-title {
  color: #ffffff;
}
#form1-12 .mbr-section-title {
  color: #ffffff;
}
#content5-1a .mbr-section-title {
  text-align: center;
}
